gunicorn==20.1.0
Django==3.2.16
djangorestframework==3.12.4
django-filter==23.2
djoser==2.2.0
black==23.7.0
isort==5.12.0
# здесь должна быть библиотека Pillow, но GitHub ругается на уязвимость в ней.
psycopg2-binary==2.9.3
python-dotenv==1.0.0
